@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

html{
background: url(../image/david-law-45x299.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}



*{
box-sizing: border-box;

}

body{
    margin:0;
  text-align: center;
  /*font-family: 'Raleway',sans-serif;*/


}
header{

margin-top: 1em;
margin-bottom: 2em;

}

nav ul{
margin: 0;
padding: 0;
list-style: none;

}
nav li{

 display: inline-block;
  margin: 1em;
}

nav a {

  font-weight: 500;
  text-decoration: none;
  color:#FFF;

}

nav a:hover,
nav a :focus{
  color: #DDD;
}


.prof-box{
 width: 70%;
  height: 20%px;
 /*background: rgba(0,0,0,0.4);*/
 
  margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.imageclass{
	 border-radius: 50%;
width: 100px;
  height: 100px;

}
.project1{
  width: 60%;
  
  margin-left: auto;
    margin-right: auto;
   text-align: center;
   margin-bottom: 3em;
}

img{

  max-width: 100%;
  height: auto;
  }|

.vocabimage{
/*width: 20%;
  height: 20%;*/
}

.blackimage{
/*width: 40%;
  height: 20%;*/

}
.headerdiv{
  background: rgba(999,0,0,0,4);
}


#headerdiv{

background: rgba(0,0,0,0.4);


}

#hellotext{

 color: #595959;
 width: 100%;


}

.aboutSection{
  margin-bottom: 5em;
}
#androidid{
color: #595959;

}
.text{
color: #595959;

}

.tex2{
color: #595959; 
margin-bottom: 5em; 
}
#blackball{
color: #4d4d4d;
}

#vocabid{
color: #4d4d4d;

}


.project2{
   width: 70%;
  
  margin-left: auto;
    margin-right: auto;
   text-align: center;
   margin-bottom: 2em;
}
#footerid{
  color: #DDD;
  height: 500%;
 
}
#end{

background: rgba(0,0,0,0.4);
}
.experience{
  margin-top: 5em; 

width: 60%;
  height: 20%px;
 /*background: rgba(0,0,0,0.4);*/
 
  margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.projectsection}{
  margin-bottom: 5em;
}

.icon{
font-size: 30px;

}


.icon a{
  color: white;
}
.abouth1,.project2,.expid,.con{

  color: #3361FF;
}
#expid{

  color: #3361FF; 
}

@media only screen and (min-width: 150px) and(max-width: 600px){




}
}